# Using SQLite for local development, PostgreSQL for production
DATABASE_URL=sqlite:///./inventory.db
PORT=3000
DEBUG=True

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_DEFAULT_REGION=your_aws_default_region
AWS_ENDPOINT_URL=your_aws_endpoint_url
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
S3_BUCKET_NAME=your_s3_bucket_name

JWT_SECRET=your_jwt_secret
MOSQUITTO_TCP_HOST=your_mqtt_tcp_host
MOSQUITTO_TCP_PORT=your_mqtt_tcp_port
MOSQUITTO_WS_HOST=your_mqtt_ws_host
MOSQUITTO_WS_PORT=your_mqtt_ws_port